!!!
%html
  %head
    %title Mark Ducommun
    
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
    %script{src: '../public/javascripts/application.js'}

    %link{href: 'http://fonts.googleapis.com/css?family=Old+Standard+TT', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Playfair+Display', rel: 'stylesheet', type: 'text/css'}
    %link{href: '../public/stylesheets/font-awesome.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '../public/stylesheets/application.css', rel: 'stylesheet', type: 'text/css'}
  
  %body.flex.col
    .title.stretch.flex.column
      %h1#title.center Mark Ducommun
      %h3#subtitle.center Web Developer
    .banner.flex.row
      %h5#about About
      %h5#projects Projects
      %h5#blogs Blog
      %h5#resume Resume
    .content
      .words
        #aboutwords
          %p I'm an intensely curious individual who has spent the last year immersing myself in computer science and web development.
          %br
          %p I set out with the intention of gaining a level of competency in CS that would allow me to add value to a company while continuing to rapidly improve my own skills.  I began my journey with a year of graduate coursework at Illinois Institute of Technology.  I was very interested by the content but decided that I was not satisfied with the pace of learning offered by the program. I left after completing courses in basic java, a data structures course and computer architecture.
          %br
          %p I started at Dev Bootcamp shortly after leaving IIT.
        #projectswords
          #controls.flex.row
            %h3#previous Previous
            %h3#next Next
          #carousel
            %ul#frames
              %li
                %a{href: 'http://www.parkbenchprojects.com'}
                  %img{src: "../public/images/parkbenchprojects.png"}
                %a{href: 'https://github.com/MarkDucommun/pbp'} Source Code
              %li
                %a{href: 'http://stackgame.herokuapp.com'}
                %img{src: "../public/images/stackgame.png"}
                %a Source Code
              %li
                %img{src: "http://f.cl.ly/items/3i2V2V0D3n293d0y2y0U/tron.jpg"}
                %a Source Code
        #blogswords
          %p Some blog posts
        #resumewords.flex
          %h2.center Mark Ducommun
          %p.center 847.830.8188
          %p.center ducommun.mark@gmail.com
          %a.center{href: 'http://www.linkedin.com/in/markducommun'} linkedin.com/in/markducommun
          %a.center{href: 'https://github.com/MarkDucommun'} github.com/MarkDucommun
          %br
          %h3 EDUCATION
          %hr
          %br
          %p
            %b Dev Bootcamp --
            Chicago,IL 
            %span.right 07/2013 – 09/2013
          %i Student
          %ul
            %li 9 week intensive web development training course
            %li 90+ hour / week commitment
          %br
          %p
            %b Illinois Institute of Technology --
            Chicago, IL                                                                   
            %span.right 08/2012 – 05/2013
          %i Graduate Studies in Computer Science – 4.0 GPA
          %ul
            %li Coursework in data structures, computer architecture
          %br
          %p
            %b Hamilton College --
            Clinton, NY
            %span.right 2011
          %i Bachelor of Arts in Biology
          %ul
            %li
              %span Thesis: 
              %i Identifying Genes Suitable for Inferring Phylogenetic Relationships Between Species in Phylum Nematoda
            %li Dean’s List – Two Semesters
          %br
          %p
            %b New Trier High School --
            Winnetka, IL
            %span.right 2005
          %i Graduate
          %ul
            %li James Musich Award for Academic Excellence in Life Sciences
          %br
          %h3 WORK EXPERIENCE
          %hr
          %br
          %p
            %b Dev Bootcamp --
            Chicago, IL
            %span.right 09/2013 - present
          %i Teachers Assistant 
          %ul
            %li Assist current students through pairing and code reviews
          %br
          %p
            %b Vail Resorts --
            Keystone, CO
            %span.right 11/2010 – 04/2013
          %i Ski Instructor
          %p - Taught advanced technical concepts in terms appropriate to student’s level of understanding 
          %p - Ranked in top 5% of all instructors at Keystone Resort throughout the season
          %br
          %p
            %b Chromatin, Inc.
            Lubbock, Tx
            %span.right 04-08/2012
          %i Field Researcher
          %p - Assisted in Sorghum nursery operations, lead reorganization of seed storage room
          %br
          %p
            %b Chromatin, Inc.
            Chicago, IL
            %span.right 05-08/2008, 05-08/2009
          %i Business Intern
          %p - Researched and presented on the market potential, including cost analysis, for several biofuel feedstock crops
          %p - Built and populated biofuel industry company database
          %br
          %h3 TECHNICAL SKILLS
          %hr
          %br
          %ul
            %li Ruby, Javascript, Java, HTML, CSS
            %li Rails, Sinatra
            %li SQLite, PostgreSQL
            %li RSpec, Capybara, JUnit
            %li Pair programming, Test Driven Development, Behavior Driven Development, Agile 
          %br
          %h3 ACTIVITIES
          %hr
          %br
          %p
            %b Sigma Phi 
            Society Vice President, 2008-2009; Social Chair, 2007-2008
          %p
            %b Boy Scouts of America
            1997-2005; Eagle Scout, Senior Patrol Leader

    .icons.flex.row
      %a.icon-github-sign{href: 'https://github.com/MarkDucommun'}
      %a.icon-facebook-sign{href: 'https://www.facebook.com/mducommu'}
      %a.icon-linkedin-sign{href: 'http://www.linkedin.com/in/markducommun'}
      %a.icon-twitter-sign{href: 'https://twitter.com/mark_ducommun'}
