!!!
%html
  %head
    %title Mark Ducommun
    
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
    %script{src: '../public/javascripts/application.js'}

    %link{href: 'http://fonts.googleapis.com/css?family=Old+Standard+TT', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Playfair+Display', rel: 'stylesheet', type: 'text/css'}
    %link{href: '../public/stylesheets/font-awesome.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '../public/stylesheets/application.css', rel: 'stylesheet', type: 'text/css'}
  
  %body.flex.col
    %h1#title Mark Ducommun
    %h3#subtitle Web Developer
    .banner.flex.row
      %h5#about About
      %h5#projects Projects
      %h5#blogs Blogs
      %h5#resume Resume
    .content
      .words
        #aboutwords
          %p I'm an intensely curious individual who has spent the last year immersing myself in computer science and web development.
          %br
          %p I set out with the intention of gaining a level of competency in CS that would allow me to add value to a company while continuing to rapidly improve my own skills.  I began my journey with a year of graduate coursework at Illinois Institute of Technology.  I was very interested by the content but decided that I was not satisfied with the pace of learning offered by the masters program. I left after completing an introduction to java, a data structures course and a course on computer architecture.
          %br
          %p I started at Dev Bootcamp shortly after leaving IIT.
        #projectwords

        #blogwords

        #resumewords
          %h3 
    .icons.flex.row
      %a.icon-github-sign{href: 'https://github.com/MarkDucommun'}
      %a.icon-facebook-sign{href: 'https://www.facebook.com/mducommu'}
      %a.icon-linkedin-sign{href: 'http://www.linkedin.com/in/markducommun'}
      %a.icon-twitter-sign{href: 'https://twitter.com/mark_ducommun'}
