!!!
%html
  %head
    %title Mark Ducommun
    
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
    %script{src: '../public/javascripts/application.js'}

    %link{href: 'http://fonts.googleapis.com/css?family=Old+Standard+TT', rel: 'stylesheet', type: 'text/css'}
    %link{href: '../public/stylesheets/font-awesome.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '../public/stylesheets/application.css', rel: 'stylesheet', type: 'text/css'}
  
  %body.flex.col
    %h1#title Mark Ducommun
    %h3#subtitle Web Developer
    .banner.flex.row
      %h5#about About
      %h5#projects Projects
      %h5#blogs Blogs
      %h5#resume Resume
    .content
      .words
        #aboutwords
          I'm an intensely curious individual who has spent the year immersing myself in computer science and web development.  I began my journey in August last year taking the prerequisite courses required to begin a master's in CS.  I set out with the intention of gaining a level of competency that allowed me to add value to a company while still being able to better myself.  I was able to excel, but didn't feel as though I was learning enough that directly impacted my ability to add value to a company. I finished the spring semester.
        #projectwords

        #blogwords

        #resumewords
    .icons.flex.row
      %a.icon-github-sign{href: 'https://github.com/MarkDucommun'}
      %a.icon-facebook-sign
      %a.icon-linkedin-sign
      %a.icon-twitter-sign
