  body {
    margin: 0
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  #title,
  #subtitle,
  #about,
  #projects,
  #blogs,
  #resume {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 5px  rgba(0,0,0,0.5);
    font-family: 'Old Standard TT', serif;
  }

  img {
    height: 50px;
  }
  #title,
  #subtitle {
    align-self: center;
    /*background-color: rgba(139,0,0,0.8);*/
    /*border-bottom: 2px solid rgba(0,0,0,0.8);*/
    /*padding: 10px;*/
    /*box-shadow: inset 0px 0px 15px rgba(0,0,0,1)*/
  }

  #title {
    order: 1;
  }

  #subtitle {
    order: 2;
  }

  #about,
  #projects,
  #resume,
  #blogs {
    color: black;
    /*text-shadow: 1px 1px 10px  rgba(0,0,0,1);*/
    cursor: pointer;
    transition: text-shadow 1s;
  }

  #about:hover,
  #projects:hover,
  #resume:hover,
  #blogs:hover {
    text-shadow: 1px 1px 15px  rgba(0,0,0,1);
  }

  .content {
    font-family: 'Old Standard TT', serif;
    position: relative;
    margin: 5%;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow:inset 0px 0px 20px rgba(0,0,0,0.4);
    order: 4;
    /*border: 1px solid black;*/
  }

  html {
    background-image: url('../images/creampaper.png')
  }

  .banner {
    background-color: rgba(5, 0, 0, 0.05);
    /*border-top: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
    box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.4);
    order: 3;
    margin-top: 20px;
    padding: 10px;
    justify-content: space-around;
  }

  .words {
    padding: 10px;
  }

  [class^="icon-"]:hover,
  [class*=" icon-"]:hover {
    text-shadow: 1px 1px 15px  rgba(0,0,0,1);
    transition: text-shadow 1s;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 30px;
    text-shadow: 1px 1px 3px  rgba(0,0,0,1);
    transition: text-shadow 1s;
  }

  .flex {
    display: -ms-box;
    display: -webkit-flex;
    display: flex;
  }

  .row {
    -webkit-flex-flow: row;
    justify-content: space-around;
  }

  .col {
    -webkit-flex-flow: column;
    justify-content: space-between;
  }

  .icons {
    order: 5;
    margin-bottom: 20px;
  }